button {
	background-color: #d2a96a;
	color: black;
	width: fit-content;
	border-radius: 0.5 rem;
	padding: 0.5rem;
}

button:hover {
	background-color: #bb7154;
	color: white;
}

* {
	font-family: 'Poppins', syste-ui, sans-serif;
}