---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 - Not Found">
	<div class="bg-secondary mx-auto flex h-full flex-col gap-4 text-center">
		<img
			class="mx-auto mt-20 max-h-[500px] max-w-[500px]"
			src="/booo.gif"
			alt="Gif of italians talking"
		/>
		<p class="text-white">Página no encontrada</p>
		<a class="mx-auto w-fit" href="/">Volver al inicio</a>
	</div>
</Layout>
