---
import ServiceForm from '../sections/ServiceForm.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Servicios - Italo ADN">
	<div class="mx-auto min-h-screen max-w-[1200px] bg-white">
		<ServiceForm />
	</div>
</Layout>
