---
import Layout from '../layouts/Layout.astro'
import SelectInput from '../components/SelectInput.jsx'
---

<Layout title="Servicios - Italo ADN">
	<section class="mx-auto min-h-screen max-w-[1200px] bg-white py-40">
		<SelectInput client:load />
	</section>
</Layout>

<style>
	fieldset {
		border: 1px solid black;
		padding: 20px;
		width: 100%;
	}
</style>
