---
const { type = 'button', addClass } = Astro.props
---

<button
	type={type}
	class:list={[
		'mx-auto w-fit rounded-full bg-yellow px-5 py-2.5 text-center text-lg font-medium text-black transition-all hover:bg-gray-700 hover:text-white focus:ring-gray-700',
		addClass
	]}
>
	<slot />
</button>
