---
const { type = 'button' } = Astro.props
---

<button
	type={type}
	class="text-md mx-auto w-fit rounded-full bg-yellow px-5 py-2.5 text-center font-medium text-black transition-all hover:bg-gray-700 hover:text-white focus:ring-gray-700"
>
	<slot />
</button>
