<div
	class="mx-auto my-20 flex max-w-xl flex-col items-center justify-center gap-4 rounded-lg bg-blue-100 p-4 text-center"
>
	<p class="max-w-lg">
		¿Te gustó esta guía de contenido? Si querés y podés hacerlo, invítanos un cafecito para
		colaborar con este proyecto que es 100% independiente.
	</p>
	<a href="https://cafecito.app/italoadn" rel="noopener" target="_blank"
		><img
			srcset="https://cdn.cafecito.app/imgs/buttons/button_4.png 1x, https://cdn.cafecito.app/imgs/buttons/button_4_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_4_3.75x.png 3.75x"
			src="https://cdn.cafecito.app/imgs/buttons/button_4.png"
			alt="Invitame un café en cafecito.app"
		/></a
	>
</div>
