---
import Opener from './icons/opener.astro'
import Closer from './icons/closer.astro'

import { navLinks } from '../data/data.js'
---

<nav
	transition:persist
	class="fixed left-0 right-0 top-0 z-50 flex items-center justify-between gap-12 bg-darkGreen p-4 px-10 ease-in-out md:justify-center"
>
	<a href="/">
		<img class="h-16 w-16" src="/logo-brand-150x150.png" alt="Logo de Italo ADN" />
	</a>
	<button class="opener rounded-lg p-2 hover:bg-lightGreen md:hidden" aria-label="Menu Opener">
		<Opener />
	</button>
	<ul
		aria-label="Menu navegador"
		class:list={[
			'nav-links align-center absolute right-0 top-6 z-20 flex hidden w-1/2 flex-col justify-center bg-darkGreen text-[#fff] transition ease-in-out',
			'md:static md:flex md:w-auto md:flex-row md:gap-12 md:opacity-100'
		]}
	>
		<li class="grid place-content-end hover:cursor-default" aria-label="Menu closer">
			<Closer />
		</li>
		{
			navLinks.map((link) => (
				<li class="navlink md:text-md border border-white p-4 text-center text-lg transition-all hover:text-yellow md:rounded-lg md:border-none md:p-2">
					<a aria-label={link.name} href={link.href}>
						{link.name}
					</a>
				</li>
			))
		}
	</ul>
</nav>
<style>
	nav {
		box-shadow: 0px 6px 15px -6px rgba(0, 0, 0, 1);
		transition: all 400ms ease-in-out;
	}

	.scroll-down {
		transform: translate(0, -100%);
	}

	.scroll-up {
	}
</style>
<script>
	const opener = document.querySelector('.opener')
	const closer = document.querySelector('.closer')
	const navLink = document.querySelectorAll('.navlink')
	function toggler() {
		document.querySelector('.nav-links').classList.toggle('hidden')
	}
	opener.addEventListener('click', toggler)
	closer.addEventListener('click', toggler)

	navLink.forEach((link) => {
		link.addEventListener('click', toggler)
	})
</script>
