---
import Opener from './icons/opener.astro'
import Closer from './icons/closer.astro'
import { navLinks } from '@/data/data.js'
---

<nav transition:persist class="fixed top-0 z-50 w-full bg-darkGreen p-4">
	<div class="mx-auto flex max-w-6xl items-center justify-between">
		<a href="/">
			<img class="h-24" src="/logo-brand-150x150.png" alt="Logo de Italo ADN" />
		</a>

		<button class="opener p-2 hover:bg-lightGreen md:hidden" aria-label="Menu">
			<Opener />
		</button>

		<ul
			class="nav-links absolute right-0 top-24 hidden w-1/2 bg-darkGreen md:static md:top-0 md:flex md:w-auto md:gap-8"
		>
			<li class="p-4 text-right md:hidden">
				<Closer />
			</li>
			{
				navLinks.map((link) => (
					<li class="navlink p-4 text-center text-white hover:text-yellow md:p-2">
						<a href={link.href}>{link.name}</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>

<style>
	.active {
		color: red;
	}
</style>

<script>
	const opener = document.querySelector('.opener')
	const closer = document.querySelector('.closer')
	const navLink = document.querySelectorAll('.navlink')
	function toggler() {
		document.querySelector('.nav-links').classList.toggle('hidden')
	}
	opener.addEventListener('click', toggler)
	closer.addEventListener('click', toggler)

	navLink.forEach((link) => {
		link.addEventListener('click', toggler)
	})
</script>
