---
const { hrefButton, service, details = '', button } = Astro.props
import Button from './Button.astro'
---

<div
	class="align h-[500px] w-96 grid grid-rows-3 place-items-center gap-16 rounded-lg p-8 text-center md:h-[550px]"
>
	<h1 class="text-2xl font-bold text-darkGreen">{service}</h1>
	<p class="text-lg text-darkGreen">{details}</p>
	<a target="_blank" class="mx-auto w-fit" no-referrer href={hrefButton}>
		<Button>{button}</Button>
	</a>
</div>
