---
const { hrefButton, service, details= '', button } = Astro.props
import Button from './Button.astro'
---

<div
	class="flex flex-col place-items-center align h-[500px] md:h-[550px] w-96 gap-16 rounded-lg bg-lightGreen p-8 text-center shadow-lg"
>
	<h1 class="text-2xl font-bold">{service}</h1>
	<p class="text-lg">{details}</p>
	<a target="_blank" class="mx-auto w-fit" no-referrer href={hrefButton}>
		<Button>{button}</Button>
	</a>
</div>
