<section class="mb-6 flex h-52 w-full flex-col place-content-end gap-3 text-center text-white">
	<p class="text-md">Hecho con ♡</p>
	<p class="text-sm opacity-75">Copyright © Italo ADN 2022</p>
</section>

<style>
	section {
		background-image: url('/pattern.svg');
	}
</style>
