<section class="flex w-full flex-col place-content-end gap-3 bg-darkGreen text-center text-white">
	<p class="font-bold">Hecho con ♡</p>
	<p class="mb-4 font-bold">Copyright © Italo ADN 2022</p>
</section>
