---
import Footer from './Footer.astro'
---

<section class="flex w-full flex-col place-content-end gap-3 bg-darkGreen text-center text-white">
	<p class="text-md font-bold">Hecho con ♡</p>
	<p class="mb-4 text-sm font-bold">Copyright © Italo ADN 2022</p>
</section>
