<div class="mx-auto grid h-80 max-w-7xl grid-cols-3 justify-center pt-8">
	<div class="blog-links flex flex-col">
		<a href="#">Ciudadania</a>
		<a href="#">Codice</a>
		<a href="#">Pec</a>
		<a href="#">Declaracion</a>
	</div>
	<div class="blog-links flex flex-col">
		<a href="#">Ciudadania</a>
		<a href="#">Codice</a>
		<a href="#">Pec</a>
		<a href="#">Declaracion</a>
	</div>
	<div class="blog-links flex flex-col">
		<a href="#">Ciudadania</a>
		<a href="#">Codice</a>
		<a href="#">Pec</a>
		<a href="#">Declaracion</a>
	</div>
</div>
