<section id="hero" class="hero-background flex h-[700px] w-full items-center">
	<div
		class="glass m-auto flex w-[70%] max-w-2xl flex-col justify-center gap-6 p-6 text-white md:p-10"
	>
		<h1 class="text-center text-2xl md:text-5xl">Obtén tu Ciudadanía Italiana</h1>
		<p class="text-center text-sm md:text-xl">
			Todo lo que tienes que saber acerca del trámite para la obtención de la Ciudadanía Italiana.
			Encontrarás la información necesaria para preparar tu carpeta, trámites tanto en Argentina
			como en Italia, tutoriales, artículos y mucho más.
		</p>
		<a
			class="mx-auto w-fit rounded-full bg-yellow px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gray-700 focus:ring-gray-100 focus:ring-gray-700"
			href="/blog">Descubrí nuestro blog</a
		>
	</div>
</section>

<style>
	.hero-background {
		background-image: url('/background-1.webp');
		background-size: cover;
		background-attachment: fixed;
	}

	.glass {
		background: rgba(58, 58, 58, 0.3);
		border-radius: 16px;
		box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(16px);
	}
</style>
