---
import { Image } from 'astro:assets'
---

<section id="hero" class="mx-auto flex h-[1000px] w-full items-center justify-center">
	<div
		class="glass m-auto flex w-[70%] max-w-2xl animate-fade-in-up flex-col justify-center gap-6 p-6 text-white animate-delay-300 md:p-10"
	>
		<h1 class="text-center text-2xl md:text-5xl">
			Obtené tu <strong>Ciudadanía Italiana</strong>
		</h1>
		<p class="text-center text-sm md:text-xl">
			Descubre todo lo que necesitas saber sobre cómo obtener la ciudadanía italiana. Desde
			los pasos iniciales hasta la preparación de tu expediente, te ofrecemos información
			detallada sobre los requisitos de <strong>ciudadanía italiana</strong>, la documentación
			necesaria y los trámites tanto en <i>Argentina</i> como en <i>Italia</i>. Accede a
			tutoriales, artículos y recursos útiles para facilitar tu proceso.
		</p>
		<a
			class="mx-auto w-fit rounded-full bg-yellow px-5 py-2.5 text-center text-lg font-medium text-black animate-delay-500 hover:bg-gray-700 hover:text-white focus:ring-gray-700"
			href="/blog">Descubrí nuestro blog</a
		>
	</div>
</section>

<style>
	section {
		background-image: url('/background-1.webp');
		background-repeat: no-repeat;
		background-size: cover;
	}
	.glass {
		background: rgba(58, 58, 58, 0.3);
		border-radius: 16px;
		box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(16px);
	}
</style>
