---
import Button from '../components/Button.astro'
import ServiceCard from '../components/ServiceCard.astro'
import { services } from '../data/data'
---

<section id="services" class="flex h-auto w-full flex-col items-center justify-center gap-20 py-40">
	<Button addClass="text-xl md:text-2xl"> Conoce todos nuestros servicios aquí. </Button>

	<div class="max-w-42 mx-auto flex flex-col flex-wrap justify-center gap-4 md:flex-row md:px-4">
		{
			services.map((service) => (
				<>
					<ServiceCard
						service={service.name}
						details={service.description}
						button={service.button}
						hrefButton={service.hrefButton}
					/>
				</>
			))
		}
	</div>
</section>
