---
import ServiceCard from "../components/ServiceCard.astro"
---


<section id="services" class="h-auto py-20 w-full">
    <div class="flex flex-col md:flex-row gap-4 justify-center w-fit mx-auto">
        <ServiceCard service="Asesoria" details="Te brindamos asesoria en cuanto a armado de carpetas, procedimientos y puntos importantes del tramite de la ciudadanía"/>
        <ServiceCard service="Asesoria" details="Te brindamos asesoria en cuanto a armado de carpetas, procedimientos y puntos importantes del tramite de la ciudadanía"/>
        <ServiceCard service="Asesoria" details="Te brindamos asesoria en cuanto a armado de carpetas, procedimientos y puntos importantes del tramite de la ciudadanía"/>
    </div>
</section>