---
import ServiceCard from '../components/ServiceCard.astro'
import { services } from '../data/data'
---

<section id="services" class="h-auto w-full py-40">
	<div class="mx-auto flex w-fit flex-col justify-center gap-4 md:flex-row">
		{
			services.map((service) => (
				<ServiceCard
					service={service.name}
					details={service.description}
					button={service.price}
					hrefButton={service.hrefButton}
				/>
			))
		}
	</div>
</section>
