---
import Layout from '../../layouts/Layout.astro'
import ActasEspa単olas from '../../components/services/ActasEspa単olas'
---

<Layout title="Actas espa単olas - Italo ADN">
	<div class="bg-slate-100 pt-52">
		<ActasEspa単olas client:load />
	</div>
</Layout>
