---
import Layout from '../../layouts/Layout.astro'
import PedidoPartidas from '../../components/services/PedidoPartidas'
---

<Layout title="Actas italianas - Italo ADN">
	<div class="bg-white pt-52">
		<PedidoPartidas client:load />
	</div>
</Layout>
