---
import Layout from '../../layouts/Layout.astro'
import AsesoriaPersonalizada from '../../components/services/Asesoria'
---

<Layout title="Asesoría - Italo ADN">
	<div class="bg-slate-100 pt-52">
		<AsesoriaPersonalizada client:load />
	</div>
</Layout>
