---
import Layout from '@/layouts/Layout.astro'
import Control from '@/components/services/Control'
---

<Layout title="Control - Italo ADN">
	<div class="bg-slate-100 pt-52">
		<Control client:load />
	</div>
</Layout>
