---
import Layout from '../../layouts/Layout.astro'
import InvestigacionGen from '../../components/services/Investigacion'
---

<Layout title="Investigación - Italo ADN">
	<div class="bg-slate-100 pt-52">
		<InvestigacionGen client:load />
	</div>
</Layout>
