---
import Layout from '../../layouts/Layout.astro'
import TraduccionesActas from '../../components/services/Traducciones'
---

<Layout title="Asesoría - Italo ADN">
	<div class="bg-slate-100 pt-52">
		<TraduccionesActas client:load />
	</div>
</Layout>
