---
interface Props {
	title: string
}

const { title } = Astro.props

import Navbar from '../components/Navbar.astro'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import Copyright from '../sections/Copyright.astro'
import '@fontsource-variable/playpen-sans'
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
		<meta name="theme-color" content="#5c6e6c" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="manifest" href="/manifest.json" />
		<link
			fetchpriority="high"
			rel="preload"
			href="https://cdn.jsdelivr.net/fontsource/fonts/playpen-sans:vf@latest/latin-wght-normal.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link rel="icon" type="image/svg+xml" href="/logo-white.webp" />
		<link fetchpriority="high" rel="preload" as="image" href="/pattern.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-darkGreen">
		<Navbar />
		<slot />
		<Copyright />
		<style is:global>
			body::-webkit-scrollbar {
				display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
			}
		</style>
	</body>
</html>
