---
interface Props {
	title: string
}

const { title } = Astro.props

import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
import '@fontsource-variable/playpen-sans'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import Footer from '../sections/Footer.astro'
import Copyright from '../sections/Copyright.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-white.png" />
		<link fetchpriority="high" rel="preload" as="image" href="../../public/background-1.webp" />
		<link fetchpriority="high" rel="preload" as="image" href="../../public/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-darkGreen">
		<Header />
		<Navbar />
		<slot />
		<!-- <Footer /> -->
		<Copyright />
		<style is:global>
			html {
				scroll-behavior: smooth;
			}
			body {
				font-family: 'Playpen Sans Variable', cursive;
			}
			body::-webkit-scrollbar {
				display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
			}

			img,
			video {
				width: inherit;
			}
		</style>
	</body>
</html>
