---
const { title, action } = Astro.props
import Navbar from '../components/Navbar.astro'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
import Copyright from '../sections/Copyright.astro'
import Footer from '../sections/Footer.astro'
---

<!doctype html>
<html lang="es" class="scroll-smooth" data-rh="true">
	<head>
		<!-- Essential Meta Tags First -->
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="En Italo ADN te ayudamos a que cumplas tus objetivo de obtener la ciudadanía Italiana, brindándote información en blogs 100% gratuita, servicios económicos y herramientas."
		/>
		<meta name="robots" content={action} />

		<!-- Favicons and Theme Colors -->
		<link rel="icon" type="image/svg+xml" href="/logo-white.webp" />
		<link rel="apple-touch-icon" href="/logo-brand-150x150.png" />
		<meta name="theme-color" content="#5c6e6c" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />

		<!-- Open Graph Tags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://italoadn.com" />
		<meta property="og:title" content="Italo ADN" />
		<meta
			property="og:description"
			content="En Italo ADN te ayudamos a que cumplas tus objetivo de obtener la ciudadanía Italiana, brindándote información en blogs 100% gratuita, servicios económicos y herramientas."
		/>
		<meta property="og:image" content="/logo.webp" />

		<!-- Author and Copyright Information -->
		<meta name="author" content="Amalia Fernandez y Tomas Mendez" />
		<meta name="creator" content="Tomas Mendez" />
		<meta name="copyright" content="Tomas Mendez" />

		<!-- Keywords -->
		<meta
			name="keywords"
			content="ciudadanía,ciudadania,italiana,Italiana,ciudadania en italia,ciudadania italiana,tramite,residencia legal,espacio schenguen,ciudadania italiana en italia,paso a paso ciudadania italiana"
		/>

		<!-- PWA Support -->
		<link rel="manifest" href="/manifest.json" />

		<!-- Generator Info -->
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
	</head>
	<body class="bg-darkGreen">
		<Navbar />
		<slot />
		<Footer />
		<Copyright />
		<style is:global>
			@font-face {
				font-family: 'Poppins';
				src: url(/public/fonts/poppins-regular-webfont.woff2);
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Poppins';
				src: url(/public/fonts/poppins-light-webfont.woff2);
				font-weight: light;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Poppins';
				src: url(/public/fonts/poppins-bold-webfont.woff2);
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Poppins';
				src: url(/public/fonts/poppins-medium-webfont.woff2);
				font-weight: medium;
				font-style: normal;
				font-display: swap;
			}

			body {
				font-family: 'Poppins', system-ui, sans-serif;
			}

			body::-webkit-scrollbar {
				display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
			}
			.animation {
				animation-timeline: view(block 50% 10%);
				animation-name: fade;
				animation-fill-mode: both;
				animation-timing-function: alternate-reverse;
			}

			.animation-top {
				animation-timeline: view(block 50% 10%);
				animation-name: fade-top;
				animation-fill-mode: both;
				animation-timing-function: alternate-reverse;
			}

			@keyframes fade {
				from {
					opacity: 0;
					transform: translateY(-20%);
				}
				to {
					opacity: 100%;
					transform: translateY(0);
				}
			}
			@keyframes fade-top {
				from {
					opacity: 0;
					transform: translateY(20%);
				}
				to {
					opacity: 100%;
					transform: translateY(0);
				}
			}
		</style>
	</body>
</html>
