---
interface Props {
	title: string
}

const { title } = Astro.props

import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro'
import '@fontsource-variable/playpen-sans'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="bg-darkGreen">
		<Header />
		<Navbar />
		<slot />
		<style is:global>
			body {
				font-family: 'Playpen Sans Variable', cursive;
			}

			img,
			video {
				width: inherit;
			}
		</style>
	</body>
</html>
